# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# generated types
*.tsbuildinfo

# environment
.env
.env.production
.env.*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# os / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
